@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@font-face {
  font-family: 'Cocogoose';
  src: url('./Font/cocogoose_trial.woff');
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.menu-item,
.menu-item:link,
.desk-hover,
.desk-hover:link {
  color: #272a31;
}

.cc-unit:link {
  color: #ec5242;
}

.up-links {
  color: white;
  text-decoration: none;
  list-style: none;
}

.red {
  color: #ec5242;
}

.gray {
  color: #d3d3d3;
}

/* Nav bar */
.desktop-bar {
  display: none;
}

.desktop-menu {
  display: none;
  text-decoration: none;
  list-style: none;
}

.logo {
  height: 70px;
}

.nav-bar,
ul {
  padding: 1rem;
}

.hamburger-menu {
  color: #272a31;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-icon {
  display: none;
  align-self: flex-end;
}

.opened-menu {
  background-color: #d3d3d3;
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s;
  inset: 0 0 0 0;
  z-index: 99;
  opacity: 0.89;
}

.open-menu {
  transform: translateY(0);
}

.item-border {
  border-bottom: 2px solid #6f6c6b;
  margin-right: 10%;
  line-height: 70px;
}

.to-the-right {
  display: flex;
  flex-direction: column;
}

.blur {
  filter: blur(6px);
}

/* Homepage */

#home {
  font-size: 20px;
}

.first-heading {
  background: url('./Font/h1-background.jpg');
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Cocogoose', sans-serif;
  font-weight: 900;
  font-size: 40px;
  mix-blend-mode: multiply;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('./Images/Background1.png');
  gap: 2rem;
  padding: 3rem;
}

.first-par {
  font-size: 25px;
  align-self: flex-start;
}

.about-socio {
  font-size: 1.05rem;
  line-height: 1.5;
  border: 1px solid white;
  padding: 2%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.birthdate {
  color: rgb(65, 65, 72);
  font-weight: 800;
  font-size: 1.8rem;
  font-family: 'Lato', sans-serif;
  text-align: center;
}

.black {
  color: #272a31;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
}

/* Cards page */
#program {
  background: #272a31 url(Images/pattern-bg.png);
  justify-content: center;
  align-items: center;
}

#program.container-fluid {
  flex-direction: column;
  width: 90%;
  min-height: 300px;
  justify-content: center;
  margin: auto;
  align-content: center;
  padding: 10% 0 10%;
}

.events__head h2 {
  color: #d3d3d3;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.section__hr {
  width: 40px;
  margin: auto;
  margin-top: 10px;
  border-color: #ec5242;
  margin-bottom: 30px;
}

.events__grid {
  display: grid;
  grid-template: repeat(5, 1fr) / 1fr;
  gap: 20px;
  justify-content: center;
}

.events__cards {
  background-color: rgba(255, 255, 255, 0.1);
  display: grid;
  grid-template: 1fr /0.3fr 0.9fr 3fr;
  justify-content: left;
  align-items: center;
  align-content: space-between;
  padding: 5%;
  gap: 15px;
}

.events__cards i {
  font-size: 3rem;
  color: #d3d3d3;
}

.events__cards h3 {
  color:  #ec5242;
  text-align: center;
  min-width: 83px;
}

.events__cards p {
  color: #d3d3d3;
}

#participate {
  height: 80px;
  width: 80%;
  margin: auto;
  font-size: 1.2rem;
  margin-top: 50px;
  font-weight: bold;
  color: #d3d3d3;
  background-color:  #ec5242;
}

.participate-link {
  display: none;
}

/* About page */

.about-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('./Images/About1.png');
  gap: 2rem;
  padding: 5% 10%;
  text-align: center;
}

.about-socio-bigger {
  background-color: white;
  border: 1px solid #d3d3d3;
  padding: 1rem;
  margin: 1rem;
  font-weight: 400;
}

.about-mail {
  color: black;
  font-weight: 700;
  text-decoration: underline;
}

.about-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(255, 250, 250);
  gap: 2rem;
  padding: 2rem;
  text-align: center;
}

.past-bootcamps {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 1rem;
  text-align: center;
}

.desktop-about {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.about-image {
  width: 250px;
}

.about-img {
  height: 250px;
}

.about-partners-about {
  background-color: #272a31;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.about-partners {
  background-color: #272a31;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  display: none;
}

.partner-logos {
  display: flex;
  gap: 3rem;
}

.copyright {
  padding: 2rem;
  align-items: center;
  justify-content: center;
  display: none;
}

.copyright-about {
  display: flex;
  padding: 2rem;
  align-items: center;
  justify-content: center;
}

.copyright-logo {
  width: 50%;
}

/* Featured Speakers */

#featured-singers {
  margin: 10% 0 10%;
}

#featured-singers .container-fluid {
  width: 90%;
  margin: auto;
  display: grid;
  gap: 50px;
  align-items: center;
}

.featured-singers__head h2 {
  color: #272a31;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  text-align: center;
}

.singer {
  display: flex;
}

.featured-singers__img {
  position: relative;
}

.featured-singers__img img {
  width: 130px;
  height: 130px;
  margin: 12px 20px 0 12px;
}

.featured-singers__img::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 70px;
  height: 70px;
  top: 0;
  left: 0;
  background: url('/css/Images/SpeakerBackground.png');
  opacity: 0.7;
  border: 1px solid black;
}

.featured-singers__desc hr {
  width: 30px;
  color: #d3d3d3;
  margin: 6px 0 10px;
}

.toggle {
  display: none;
}

.featured-singers__desc h3 {
  font-family: 'Lato', sans-serif;
  color:  #272a31;
  font-weight: 800;
}

.featured-singers__desc h4 {
  margin-top: 10px;
  font-family: 'Lato', sans-serif;
  color: #ec5242;
  font-style: italic;
  font-weight: 400;
}

.featured-singers__desc p {
  font-family: 'Lato', sans-serif;
}

#partners {
  margin: 80px 0 0;
  background: var(--colorGr);
  min-height: 150px;
}

#partners-main {
  margin: 80px 0 0;
  background: var(--colorGr);
  min-height: 150px;
  display: none;
}

#partners .container-fluid {
  padding: 10% 0 10%;
  width: 90%;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#partners h2 {
  color: white;
  font-weight: 500;
  text-align: center;
  font-family: var(--fontFamily-lato);
}

#partners-main .container-fluid {
  padding: 10% 0 10%;
  width: 90%;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#partners-main h2 {
  color: white;
  font-weight: 500;
  text-align: center;
  font-family: var(--fontFamily-lato);
}

.partner__flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.partner__flex a {
  text-decoration: none;
  color: rgb(201, 186, 186);
  font-size: 1.9rem;
  text-align: center;
  margin-top: 20px;
}

.google {
  width: 33%;
}

.slack {
  width: 33%;
}

.airbnb {
  width: 33%;
}

.soundcloud {
  width: 50%;
}

.reddit {
  width: 50%;
}

/* ### footer ### */
#footer {
  padding: 5px 0 5px;
}

#footer-main {
  padding: 5px 0 5px;
  display: none;
}

#footer .container-fluid {
  width: 90%;
  margin: auto;
  justify-content: space-evenly;
  align-items: center;
}

#footer img {
  width: 130px;
  margin-right: 20px;
}

#footer .container-fluid p {
  font-family: var(--fontFamily-Lato);
  font-weight: normal;
  font-size: 0.5rem;
  color: var(--colorBl);
}

#footer-main .container-fluid {
  width: 90%;
  margin: auto;
  justify-content: space-evenly;
  align-items: center;
}

#footer-main img {
  width: 130px;
  margin-right: 20px;
}

#footer-main .container-fluid p {
  font-family: var(--fontFamily-lato);
  font-weight: normal;
  font-size: 0.7rem;
  color: var(--colorBl);
}

/* Desktop version */

@media only screen and (min-width: 768px) {

  .container-fluid {
    width: 70%;
  }

  /* Nav bar */
  .desktop-bar {
    display: flex;
    background-color: #272a31;
    justify-content: flex-end;
    gap: 1rem;
    padding: 1% 2rem;
    list-style: none;
    text-decoration: none;
  }

  .hamburger-menu {
    display: none;
  }

  .logo {
    align-self: flex-start;
  }

  .desktop-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    text-decoration: none;
  }

  .desktop-ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    text-decoration: none;
  }

  .desk-hover:hover {
    color: #ec5242;
    text-decoration: none;
    list-style: none;
  }

  .cc-unit {
    color: #ec5242;
    border: 3px solid #ec5242;
    padding: 0.5rem 1rem;
  }

  /* Homepage */
  .header {
    align-items: flex-start;
    background-image: url('./Images/Desktop1.png');
    padding: 5% 15%;
  }

  .first-par {
    font-size: 40px;
  }

  .first-heading {
    font-size: 70px;
  }

  /* Main program */
  #program {
    background: #272a31 url(Images/pattern-bg.png);
    align-items: center;
    justify-content: center;
  }

  #program.container-fluid {
    width: 70%;
    padding: 7% 0 10%;
    align-items: center;
    justify-content: center;
  }

  .events__grid {
    display: flex;
    flex-wrap: wrap;
    grid-template: 1fr / repeat(5, 1fr);
    gap: 5px;
    justify-items: center;
  }

  .events__cards {
    flex: 1 1 190px;
    display: grid;
    grid-template: 1fr 1fr 2fr / 1fr;
    justify-content: center;
    justify-items: center;
    align-content: center;
    gap: 10px;
    padding: 3%;
  }

  .events__cards p {
    text-align: center;
    align-self: flex-start;
  }

  #participate {
    display: none;
  }

  .participate-link {
    display: flex;
    font-family: 'Lato', sans-serif;
    margin: auto;
    font-size: 1.2rem;
    margin-top: 70px;
    font-weight: bold;
    color:  #d3d3d3;
  }

  .section__hr {
    width: 50px;
    margin: auto;
    margin-top: 10px;
    border-color: #ec5242;
    margin-bottom: 3%;
  }

  .card {
    flex-direction: column;
    flex-basis: 250px;
  }

  .cards {
    flex-direction: row;
    text-align: center;
    justify-content: center;
  }

  .project-button {
    display: none;
  }

  .desktop-button {
    display: block;
    color: white;
    text-decoration: underline;
  }

  #featured-singers {
    margin: 7% 0 8%;
  }

  #featured-singers .container-fluid {
    width: 70%;
    margin: auto;
    display: flex;
    gap: 60px 90px;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
  }

  .featured-singers__head {
    flex-basis: 100%;
  }

  #more {
    display: none;
  }

  .singer {
    flex: 1 1 350px;
  }

  .featured-singers__img img {
    width: 150px;
    height: 150px;
    margin: 12px 20px 0 12px;
  }

  .featured-singers__desc p {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-size: 1.1rem;
    line-height: 1.5;
  }

  .toggle {
    display: flex;
  }

  .featured-button {
    display: none;
  }

  .copyright-logo {
    width: 15%;
  }

  #partners-main {
    display: flex;
  }

  #partners-main .container-fluid {
    padding: 3% 0 3%;
    width: 70%;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #partners {
    display: none;
  }

  #partners-main h2 {
    color: rgb(163, 161, 161);
    font-size: 1.8rem;
  }

  #partners-main .section__hr {
    margin-bottom: 10px;
  }

  .partner__flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }

  .partner__flex a {
    color: rgb(163, 161, 161);
    font-size: 2.3rem;
    margin-top: 20px;
  }

  .google,
  .slack,
  .airbnb,
  .soundcloud,
  .reddit {
    width: auto;
    flex: 1 1 80px;
  }

  #footer {
    background: rgb(252, 243, 243);
    padding: 2%;
  }

  #footer .container-fluid {
    width: 70%;
    justify-content: left;
  }

  #footer img {
    width: 200px;
    margin-right: 20px;
  }

  #footer .container-fluid p {
    font-family: var(--fontFamily-lato);
    font-weight: normal;
    color: var(--colorBl);
    font-size: 0.8rem;
  }

  #footer .container-fluid p br {
    display: none;
  }

  #footer-main {
    display: flex;
    padding: 2%;
  }

  #footer-main .container-fluid {
    width: 70%;
    justify-content: left;
  }

  #footer-main img {
    width: 200px;
    margin-right: 20px;
  }

  #footer-main .container-fluid p {
    font-family: var(--fontFamily-lato);
    font-weight: normal;
    color: var(--colorGr);
    font-size: 0.8rem;
  }


  /* About page */
  .first-heading-about {
    font-family: 'Lato', sans-serif;
  }

  .desktop-about {
    flex-direction: row;
    gap: 3rem;
  }

  .about-partners-about {
    display: none;
  }

  .copyright-about {
    background-color: #272a31;
    color: white;
    gap: 3rem;
  }
}
